.editUserInfo {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
