.myPetsForm {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.petPetsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.petsList {
  width: 100%;
  max-width: 650px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: stretch;
}

.pagePet {
  display: flex;
  gap: 15px;
}
