.mainContainer {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.favoritesPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.favoriteItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  background-color: #141414;
  border: 1px solid #303030;
  border-radius: 8px;
  margin-bottom: 12px;
}
